# Open Space
# НЕ ИЗМЕНЯТЬ ФАЙЛ ПРИ АПСТРИМЕ/ОБНОВЛЕНИИ.
#
# Код
/Content.*/** @ReWAFFlution
# Ресурсы
# /Resources/Textures/**
# /Resources/Maps/**
/Resources/Prototypes/** @ReWAFFlution
/Resources/Locale/** @ReWAFFlution
