# Open Space
# НЕ ИЗМЕНЯТЬ ФАЙЛ ПРИ АПСТРИМЕ/ОБНОВЛЕНИИ.
#
# Код
/Content.*/** @ALEXPAN-DEV @ReWAFFlution

# Ресурсы
/Resources/Textures/** @ReWAFFlution
# /Resources/Maps/**
/Resources/Prototypes/** @ALEXPAN-DEV @ReWAFFlution
/Resources/Locale/** @ReWAFFlution
