# Open Space
# НЕ ИЗМЕНЯТЬ ФАЙЛ ПРИ АПСТРИМЕ/ОБНОВЛЕНИИ.
#
# Код
/Content.*/** @ReWAFFlution

# Ресурсы
/Resources/** @ReWAFFlution # Временная мера пока не будет ещё больше ревьюверов

/Resources/Textures/**
# /Resources/Maps/**
/Resources/Prototypes/** @ReWAFFlution
/Resources/Locale/**
